/* Header part */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    background-color: #042234;
}

/* Each items inside header */

#homeBtn {
    cursor: pointer;
    margin: 0px;
    margin-right: 50px;
    width: fit-content;
    height: fit-content;
    display: inline-block;
}

#homeBtn a:hover{
    background-color: #f1f1f1;
}

/* The dropdown container */
.dropdown {
    overflow: hidden;
  }
  
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #042234;
    padding: 15px 20px;
    background-color: #f9f9f9;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    border-radius: 5px;
}

/* Adds a background color to navbar links on hover */
.dropdown:hover .dropbtn {
    background-color: #cb9c4e;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #cb9c4e;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

#searchBar {
    margin-left: auto;
    display:flex;
    align-items: center;
    flex-grow: 0.2; /* Allows the search bar to extend, according to the webpage */
    padding: 20px;
    border-radius: 5px;
    color:black;
}

#searchBar input {
    flex-grow: 1;        
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;    /* Spacing between the input and the button */
    border: none;          /* Remove default border */
    background-color: #f9f9f9;
    color:black;
}

#searchBar button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #f9f9f9;
    color: #042234;
    cursor: pointer;
}

#searchBar button:hover {
    background-color: #cb9c4e;
}

/*End of Header part*/